
.footer {
  font-size: 0.5em;
  color: green;

}
/* Post styles */
.posts { 
  clear: both;
}
.post_row {
  border-bottom:1px dashed green;
  clear: both;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
}
.post_user {
float: left;
background-image: url('../images/icon/balloon.png');
background-position: top left;
background-repeat: no-repeat;
padding-left: 16px;
padding-top: 10px;
}
.post_body {
float: left;
font-size: 1.6em;
padding-left: 0.2em;
padding-top: 0.2em;
}
.post_edit {
float: right;
}
.post_delete {
float: right;
}

textarea#post_body
{
  height: 2.5em;
  width: 508px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: 'Lucida Grande',sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.15em;
  line-height: 1.1;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  overflow-x: auto;
  overflow-y: auto;
}

