/* Global Styles */
.footer {
  font-size: 0.8em;
  color: green;
}
/* Post Styles */
.posts { 
  clear: both;
}
.post_avatar {
  width: 48px;
  height: 48px;
  padding: 10px;
  float: left;
}
.post_row {
  border-bottom:1px dashed #ccc;
  clear: both;
  padding-top: 0.2em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  width: 590px;
  height: 70px;
}
.post_user {
}
.post_body {
  float: left;
  font-size: 1.2em;
  padding-left: 0.2em;
  padding-top: 0.2em;
  width: 390px;
}
.post_edit {
  float: right;
  width: 18px;
}
textarea#post_body
{
  height: 2.5em;
  width: 508px;
  padding: 5px;
  font-family: 'Lucida Grande',sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 1.15em;
  line-height: 1.1;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  overflow-x: auto;
  overflow-y: auto;
}

