<% if (current_user) %>
  <% form_for(Post.new) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.text_area :body, :cols => 20, :rows => 4 %>
    </p>
    <p>
      <%= f.submit "Update Status" %>
    </p>
  <% end %>
  <hr>
<% end %>
<%= render :partial => 'list_posts', :locals => { :posts => @posts } %>
